{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    {# Dont leave in production!!!! #}
    User:
    {{ dump(app.user) }}
    Hello {{ app.user.username }}
    {% if 'ROLE_ADMIN' in app.user.roles %}
        <button class="btn btn-primary">Edit</button>
    {% endif %}

    {% if 'ROLE_MENTORIUS' in app.user.roles %}
        <button class="btn btn-info">Comment</button>
    {% endif %}

{% endblock %}
